<ion-content>
  <ion-grid>
    <ion-row class="center-row">
      <ion-col size="12" class="ion-text-center">
        <app-card>
          <h1 class="welcome-title">Welcome</h1>
          <p class="welcome-text">Sign in or create an account to continue</p>
          <div class="button-group">
            <app-button label="Sign in with Email" fill="solid" ref='/sign-in'></app-button>
            <div class="or-container">
              <div class="line"></div>
              <p class="or-text">or</p>
              <div class="line"></div>
            </div>
            <app-button label="Create an Account" fill="outline" ref='/register'></app-button>
          </div>
        </app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
