<ion-modal #modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>

        <ion-title class="centered-title">{{ headerTitle }}</ion-title>

        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true" [disabled]="disabled">Add</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ng-content></ng-content>
    </ion-content>
  </ng-template>
</ion-modal>
