<ion-item lines="none">
  <ion-label>Birthday</ion-label>
  <ion-datetime-button slot="end" datetime="datetime"></ion-datetime-button>
</ion-item>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Add</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-datetime
      id="datetime"
      presentation="date"
      [value]="initialDate"
      (ionChange)="onDateChange($event)"
      [formatOptions]="{
        date: {
          weekday: 'short',
          month: 'long',
          day: '2-digit'
        }
      }"
    ></ion-datetime>
  </ng-template>
</ion-modal>
