<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sign in with Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="signInForm" (ngSubmit)="doSignIn()">
    <ion-grid>  
      <ion-row>
        <ion-col>
          <app-card>
            <app-input type="text" label="Email" [control]="email"></app-input>
            <app-input type="password" label="Password" [control]="password"></app-input>
            <br>
            <app-button [disabled]="signInForm.invalid" type="submit" label="Sign in" expand="block" shape="round"></app-button>
          </app-card>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </form>
</ion-content>
