<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Pets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <app-tabs></app-tabs>

  <div class="pet-list">
    <ion-item *ngFor="let pet of petsList" (click)="goToPetDetail(pet.id || '')" button>
      <ion-thumbnail slot="start">
        <img [src]="pet.imageUrl || 'https://cdn-icons-png.freepik.com/512/6596/6596121.png'" alt="Pet image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ pet.name }}</h2>
        <h2>{{ pet.breed }}</h2>
      </ion-label>
    </ion-item>
  </div>

  <app-card-modal headerTitle="Add Pets" (confirmAction)="doRegister()" [disabled]="registerForm.invalid">
    <form [formGroup]="registerForm">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" class="ion-text-center">
          <div class="image-upload-container">
            <div class="image-preview"
              [style.backgroundImage]="'url(' + (imageUrl || 'https://cdn-icons-png.freepik.com/512/6596/6596121.png') + ')'">
              <ion-button fill="clear" (click)="uploadImage()">
                <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <app-input type="text" label="Name" [control]="name"></app-input>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
        <small *ngIf="name.errors?.['required']">Name is required.</small>
      </div>

      <app-input type="number" label="Age" [control]="age"></app-input>
      <div *ngIf="age.invalid && (age.dirty || age.touched)" class="error-message">
        <small *ngIf="age.errors?.['required']">Age is required.</small>
        <small *ngIf="age.errors?.['min']">Age must be a positive number.</small>
      </div>

      <br>
      <app-segment firstOptionLabel="Male" secondOptionLabel="Female"
        (optionChange)="onGenderChange($event)"></app-segment>

      <app-sheet-modal #sheetModal [selectedBreed]="breed.value">
        <app-search-bar (breedSelected)="onBreedSelected($event)" [modal]="sheetModal.getModal()">
        </app-search-bar>
      </app-sheet-modal>

      <br>
      <app-button color="dark" [label]="breed.value || 'Breed'" id="open-sheet-modal" [expand]="'block'"
        icon="arrow-forward" [slot]="'end'" [fill]="'clear'"> </app-button>
      <br>

      <app-calendar [initialDate]="birthDate.defaultValue" (dateSelected)="OnDateSelected($event)">
      </app-calendar>

    </form>
  </app-card-modal>

  <ion-fab class="floating-button">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
