<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-tabs [tabs]="[
  { name: 'home', title: 'Home', icon: 'home', route: 'home' },
  { name: 'myPets', title: 'My Pets', icon: 'paw', route: 'my-pets' },
  { name: 'reminder', title: 'Reminders', icon: 'alarm', route: 'reminders' },
  { name: 'settings', title: 'Settings', icon: 'settings', route: 'settings' }
]"></app-tabs>
  <app-button routerLink="/register" label="registrate"></app-button>
  <app-button routerLink="/vaccine" label="vaccine"></app-button>


</ion-content>
