
<ion-content [fullscreen]="true" class="custom-background">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="title">Ready to make a new friend</h1>
    <p class="p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto dolor nesciunt corrupti cupiditate culpa id voluptatem fugit nihil deserunt. Quae totam ipsum earum quasi ad, vel illo reprehenderit expedita consectetur!</p>
    <app-button (click)="scheduleNotification()" label="Get started"></app-button>
  </div>


</ion-content>
